@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

::view-transition {
  inset: 0;
}

@keyframes appearing {
  0% {
    opacity: 0;
    scale: 0;
  }
  75% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes selected-responses-up {
  0% {
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateX(250%);
  }
}

@keyframes selected-responses-bottom {
  0% {
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateY(150px);
  }
  100% {
    transform: translateX(250%);
  }
}

::view-transition-new(selected-0),
::view-transition-new(selected-1),
::view-transition-new(selected-2),
::view-transition-new(selected-3),
::view-transition-new(selected-4),
::view-transition-new(selected-5),
::view-transition-new(non-selected-0),
::view-transition-new(non-selected-1),
::view-transition-new(non-selected-2),
::view-transition-new(non-selected-3),
::view-transition-new(non-selected-4),
::view-transition-new(non-selected-5) {
  animation: 1s linear both appearing;
  transform-origin: 50% 50%;
}

::view-transition-old(selected-0),
::view-transition-old(selected-1) {
  animation: 1s linear both selected-responses-up;
  transform-origin: 50% 50%;
}

::view-transition-old(selected-2),
::view-transition-old(selected-3),
::view-transition-old(selected-4),
::view-transition-old(selected-5) {
  animation: 100ms ease-in-out both fade-in,
    100ms 900ms ease-in-out both fade-out,
    1s linear both selected-responses-bottom;
  transform-origin: 50% 50%;
}

.selected-0 {
  view-transition-name: selected-0;
}

.selected-1 {
  view-transition-name: selected-1;
}

.selected-2 {
  view-transition-name: selected-2;
}

.selected-3 {
  view-transition-name: selected-3;
}
.selected-4 {
  view-transition-name: selected-4;
}
.selected-5 {
  view-transition-name: selected-5;
}

@keyframes non-selected-responses {
  0% {
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(-200%);
  }
}

::view-transition-old(non-selected-0),
::view-transition-old(non-selected-1),
::view-transition-old(non-selected-2),
::view-transition-old(non-selected-3),
::view-transition-old(non-selected-4),
::view-transition-old(non-selected-5) {
  animation: 100ms ease-in-out both fade-in,
    100ms 900ms ease-in-out both fade-out, 1s linear both non-selected-responses;
  transform-origin: 50% 50%;
}

.non-selected-0 {
  view-transition-name: non-selected-0;
}

.non-selected-1 {
  view-transition-name: non-selected-1;
}

.non-selected-2 {
  view-transition-name: non-selected-2;
}

.non-selected-3 {
  view-transition-name: non-selected-3;
}

.non-selected-4 {
  view-transition-name: non-selected-4;
}

.non-selected-5 {
  view-transition-name: non-selected-5;
}

.transition-big {
  view-transition-name: big;
}

@keyframes big {
  50% {
    scale: 3;
  }
}

::view-transition-new(big) {
  animation: 2s 2000ms ease-in-out both big,
    200ms 2000ms ease-in-out both fade-in;
  transform-origin: 50% 50%;
}

.transition-reveal-late {
  view-transition-name: reveal-late;
}

::view-transition-new(reveal-late) {
  animation: 200ms 5000ms ease-in-out both fade-in;
}
