@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes mega-spin {
  to {
    transform: rotate(5turn);
  }
}

@keyframes batman {
  0% {
    transform: scale(0.2) translateY(6%);
    animation-timing-function: ease-in;
  }
  50% {
    transform: scale(1.7) translateY(6%);
    animation-timing-function: ease-out;
  }
  100% {
    transform: scale(0.2) translateY(6%);
  }
}

::view-transition {
  inset: 0;
}

::view-transition-group(root) {
  animation: 200ms ease both mega-spin;
  transform-origin: 50% 50%;
}

::view-transition-group(selected) {
}

@keyframes appearing {
  0% {
    opacity: 0;
    scale: 0;
  }
  75% {
    opacity: 0;
    scale: 0;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes selected-responses-up {
  0% {
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateX(200%);
  }
}

@keyframes selected-responses-bottom {
  0% {
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateY(150px);
  }
  100% {
    transform: translateX(200%);
  }
}

::view-transition-new(selected-0),
::view-transition-new(selected-1),
::view-transition-new(selected-2),
::view-transition-new(selected-3),
::view-transition-new(non-selected-0),
::view-transition-new(non-selected-1),
::view-transition-new(non-selected-2),
::view-transition-new(non-selected-3) {
  animation: 1s linear both appearing;
  transform-origin: 50% 50%;
}

::view-transition-old(selected-0),
::view-transition-old(selected-1) {
  animation: 1s linear both selected-responses-up;
  transform-origin: 50% 50%;
}

::view-transition-old(selected-2),
::view-transition-old(selected-3) {
  animation: 100ms ease-in-out both fade-in,
    100ms 900ms ease-in-out both fade-out,
    1s linear both selected-responses-bottom;
  transform-origin: 50% 50%;
}

.selected-0 {
  view-transition-name: selected-0;
}

.selected-1 {
  view-transition-name: selected-1;
}

.selected-2 {
  view-transition-name: selected-2;
}

.selected-3 {
  view-transition-name: selected-3;
}

@keyframes non-selected-responses {
  0% {
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateX(-200%);
  }
}

::view-transition-old(non-selected-0),
::view-transition-old(non-selected-1),
::view-transition-old(non-selected-2),
::view-transition-old(non-selected-3) {
  animation: 100ms ease-in-out both fade-in,
    100ms 900ms ease-in-out both fade-out, 1s linear both non-selected-responses;
  transform-origin: 50% 50%;
}

.non-selected-0 {
  view-transition-name: non-selected-0;
}

.non-selected-1 {
  view-transition-name: non-selected-1;
}

.non-selected-2 {
  view-transition-name: non-selected-2;
}

.non-selected-3 {
  view-transition-name: non-selected-3;
}
